.footer {
	position: absolute;
	display: flex;
	left: 0;
	top: 96.4vh;
	z-index: 99;
	width: 100%;
	height: 1vh;
	background: #222;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	padding-top: 10px;
}

.footer svg {
	color: white;
	margin: 10px;
	font-size: 32px;
	cursor: pointer;
}

.domain {
	color: white;
}

@media only screen and (max-width: 600px) {

	.footer {
		bottom: 0 !important;
		top: auto;
		height: 3vh;
	}

	.footer svg {
		font-size: 20px;
		margin: 5px;
	}

	.domain {
		font-size: 12px;
	}
}