.projects {
	display: flex;
	flex-direction: column;
}


.filterRow {
	height: 6vh;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: baseline;
	padding-left: 4vh;
}

.Dropdown-control {
	background-color: transparent !important;
	color: white !important;
}

.projectList {
	width: 100%;
	max-height: 82vh;
	overflow-x: hidden;
	/* overflow: scroll; */
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr 1fr;


}


.dropdown {
	height: 0px;
}

.filterTitle {
	color: white;
	font-size: 2vh;
}

.projectItem {
	border-radius: 15px;
	background-color: #49494991;
	width: 300px;
	margin: 40px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	text-align: center;
	color: whitesmoke;
	border: 3px solid transparent;
}

.projectItem:hover {
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
	transition: 0.3s ease-in;
	cursor: pointer;
}

.projectItem:hover {
	border: 3px solid #e9d35b;
	color: #e9d35b;
}

.projectItem .bgImage {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.projectItem h1 {
	font-size: 25px;
}

@media only screen and (max-width: 1300px) {
	.projectList {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 800px) {
	.projectList {
		grid-template-columns: 1fr;
		max-height: calc(var(--vh, 1vh) * 81) !important;
		width: 100%;
	}

	.projectItem {
		width: 300px;
		height: 300px;
	}
}