.projectDisplay {
	max-width: 1300px;
	margin: auto;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}


.pojectDisplay h1 {
	margin-top: 50px;
	color: #3e497a;
	font-size: 35px;
}

.pojectDisplay p {
	font-size: 40px;
	color: #3e497a;
}

.pojectDisplay svg {
	font-size: 60px;
	color: #3e497a;
}

.projectDisplay .mySwiper {
	width: 100%;
}

.projectDisplay img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}